﻿﻿@{ ViewBag.Title = "Home Page"; }
<div class="news">
    @foreach (var n in ViewBag.News)
    {
<div class="news_topic">
    <h3>@n.Title</h3>
    <p>@n.Text</p>
    <span class="text_date">@n.Date.ToShortDateString()</span>
</div>}
</div>
