﻿
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

.top_block {
    display: grid;
    grid-row-gap: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    border-bottom: 2px solid black;
    background-color: lightgray;
    width: 100%;
    text-align: center;
}

.site_title {
    display: grid;
    grid-template-columns: 10% 90%;
    width: 100%;
}

.site_logo {
    max-width: 5em;
    max-height: 5em;
}

.main_wrapper {
    display: grid;
    grid-template-columns: 5fr 1fr;
    width: 80%;
}

.main_content {
    padding: 2em;
    width: 100%;
}

    .main_content p {
        padding-left: 1em;
    }

.news, .reviews {
    display: grid;
    grid-row-gap: 2em;
}

.news_topic, .review {
    width: 100%;
}

.menu {
    padding: 2em;
    width: 100%;
    border-left: 2px solid black;
}

footer {
    display: grid;
    grid-row-gap: 1em;
    padding: 2em;
    text-align: center;
    background-color: grey;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.review_form {
    display: grid;
    grid-row-gap: 1em;
}

.review_form textarea {
    width: 100%;
    min-height: 10em;
}
.text_date {
    padding-left: 80%;
}

.questinary_form {
    display: grid;
    grid-row-gap: 5em;
    border: 2px solid black;
}

.form_radio ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
