﻿
@{
    ViewBag.Title = "Guest Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="review_form" action="" method="post">
    <h3>Let your review here</h3>
    <input type="text" name="Author" placeholder="Your name" required />
    <textarea name="Text" placeholder="Your text" required></textarea>
    <input type="submit" value="Send" />
</form>
<div class="reviews">
    <h3>Reviews</h3>
    @foreach (var r in ViewBag.Reviews)
    {
        <div class="review">
            <h4>@r.Author</h4>
            <p>@r.Text</p>
            <span class="text_date">@r.Date.ToShortDateString()</span>
        </div>
    }
</div>

